body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #1E1E1E;;
	line-height: 1.4;
	font-family: "Verdana", sans-serif;
}
header {
	padding: 0rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #8a1212;
	color: #EEE;
	line-height: 1;
	margin-bottom: 3rem;
}
.name {
	font-family: 'Bebas Neue', cursive;
	font-size: 2.4rem;
	letter-spacing: 4px;
}
.menu {
	display: none;
}
.menu a {
	display: none;
}
.menu a:hover {
	text-decoration: underline;
}
.mobileLink{
	display: block;
	padding: 0.3rem 0;
	color: #EEE;
	background: rgb(65, 65, 65);
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid #1E1E1E;
}
.mobileLink:active, .mobileLink:hover{
	text-decoration: underline;
}
footer {
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: #8a1212;
	color: white;
}
.tiers {
	display: flex;
	max-width: 56.8rem;
	justify-content: center;
	margin: 0 auto;
}
.tiers > div {
	flex-grow: 1;
	text-align: center;
}
.playerTable {
	background-color: #EEE;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
	color: black;
}
.playerTable + .playerTable {
	border-top: solid black 5px;
}
.captainTitle {
	border: solid black 1px;
	width: 11rem;
}
.captain {
	font-size: small;
	width: 11rem;
	border: solid black 1px;
	border-bottom: solid black 3px;
}
.role {
	max-width: 11rem;
	padding-left: .3rem;
	border: solid black 1px;
	border-right: solid black 3px;
}
.player {
	width: 11rem;
	padding-left: .3rem;
	border-right: solid black 1px;
}
.sTier {
	background-color: #00FFFF;
}
.aTier {
	background-color:  #4682bf ;
}
.bTier {
	background-color:  #55b079 ;
}
.cTier {
	background-color:  #fbe264 ;
}
.dTier {
	background-color:  #b5b5bd;
}
.fTier {
	background-color:  #a97142;
}
.footnote {
	color: white;
	width: 95%;
	max-width: 65rem;
	margin: .5rem auto;
}
@media only screen and (min-width: 600px) {

	header {
		padding: 0rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.name {
		/* empty */
	}
	.menu {
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
	}
	.menu a {
		display: inline-block;
		margin: 0rem 2rem;
		color: #EEE;
		font-size: 1.2rem;
		text-decoration: none;
	}
	.mobileLink {
		display:none;
	}
}
