body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	background-color: #4F4A4A;
	line-height: 1.4;
}
header {
	padding: 0rem 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #1E1E1E;
	color: #EEE;
	line-height: 1;
}
.name {
	font-family: 'Bebas Neue', cursive;
	font-size: 2.4rem;
	letter-spacing: 4px;
}
.menu {
	display: none;
}
.menu a {
	display: none;
}
.menu a:hover {
	text-decoration: underline;
}
.mobileLink{
	display: block;
	padding: 0.3rem 0;
	color: #EEE;
	background: rgb(65, 65, 65);
	font-size: 1.2rem;
	text-decoration: none;
	text-align: center;
	border-bottom: 1px solid #1E1E1E;
}
.mobileLink:active, .mobileLink:hover{
	text-decoration: underline;
}
footer {
	display: flex;
	justify-content: center;
	padding: 1em;
	background-color: #8a1212;
	color: white;
}
.tiers {
	display: flex;
	width: 80%;
	justify-content: center;
	margin: 0 auto;
}
.tiers > div {
	width: 10rem;
	text-align: center;
}
.playerTable {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
	border-collapse: collapse;
}
.playerTable + .playerTable {
	margin-top: 1rem;
}
.captainTitle {
	border: solid black 1px;
	background-color: #b7b7b7;
}
.captain {
	font-size: small;
	width: 11rem;
	border: solid black 1px;
	border-bottom: solid black 3px;
	background-color: #b7b7b7;
}
.role {
	width: 8rem;
	padding-left: .3rem;
	border: solid black 1px;
	border-right: solid black 3px;
	background-color: #b7b7b7;
}
.player {
	width: 11rem;
	padding-left: .3rem;
	border-right: solid black 1px;
}
.sTier {
	background-color: #659FFE;
}
.aTier {
	background-color:  #5ca26f;
}
.bTier {
	background-color:  #fbe264;
}
.cTier {
	background-color:  #ffb950;
}
.dTier {
	background-color:  #cccccc;
}
.fTier {
	background-color:  #e06666;
}

@media only screen and (min-width: 600px) {

	header {
		padding: 0rem 1rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	.name {
	}
	.menu {
		display: inline-flex;
		justify-content: space-around;
		align-items: center;
	}
	.menu a {
		display: inline-block;
		margin: 0rem 2rem;
		color: #EEE;
		font-size: 1.2rem;
		text-decoration: none;
	}
	.mobileLink {
		display:none;
	}
}
